# commit to be tagged for the new release
commit = "HEAD"

project_name = "terraform-provider-talos"
github_repo = "siderolabs/terraform-provider-talos"
ignore_deps = ["google.golang.org/grpc"]

previous = "v0.10.0"
pre_release = true

[notes]
