# commit to be tagged for the new release
commit = "HEAD"

project_name = "terraform-provider-talos"
github_repo = "siderolabs/terraform-provider-talos"
ignore_deps = ["google.golang.org/grpc"]

previous = "v0.7.1"
pre_release = true

[notes]

    [notes.updates]
        title = "Component Updates"
        description = """\
Talos sdk: v1.10.0-beta.0
"""
